<form action="/api/user/create" method="post">
    <h1>create account</h1>
    <input type="text" name="name" placeholder="full name">
    <input type="text" placeholder="email" name="email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="check_password" placeholder="retype your password">
    <button type="submit">create account</button>
</form>